<ul>
//изтрихме всичките 14 items от html, които са с еднаква структура и работим само върху един
        <li>
            {{#each cats}}
            <li>{{>cat}}</li>//това е темплейт в темплейта
            {{/each}}
        </li>
    </ul>